<div class="container-fluid">
	<h1>About me</h1>
	<p>
		Hi, my name is Xin Li<br>
		I am a junior web developer with a background in Interactive Design and Media<br>
		I am looking for an opportunity to work in a dynamic environment where my skills will add value to products being built<br><br><br>
		<a id="click" href="#" target="_blank">check my portfolio here</a>
	</p><br>
</div> <!-- /container-fluid -->