<div class="container-fluid">
	<h1>keep in touch</h1>
	<ul>
		<li>Bikes Xin Li</li>
		<li>1564, Bike Drive</li>
		<li>Califonia, USA</li>
		<li>Email: example@bikes.com</li>
	</ul>  
</div> <!-- /container-fluid -->